<ion-header [translucent]="true">
  <ion-toolbar color="miscolores">
    <ion-title color="miscolores">
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="miscolores">
  
  <ion-label button="true"  class="ion-text-wrap"> Elije el servicio que deseas reservar</ion-label>

    <ion-card *ngFor="let servicio of listadoServicio" (click)="siguientePantalla(servicio)"  >
      <ion-card-header>
        <ion-card-subtitle>Servicio {{servicio.idServicio}}</ion-card-subtitle>
        <ion-card-title>{{servicio.nombre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
       El precio es {{servicio.precio}} y su duracion 15 minutos aproximado.  
      </ion-card-content>
    </ion-card>    
  
</ion-content>